% -*- erlang -*-

{deps, [
  {sync,      ".*",  {git, "git://github.com/rustyio/sync.git",        "master"}},
  {poolboy,   ".*",  {git, "git://github.com/devinus/poolboy.git",     "master"}},
  {cowboy,    ".*",  {git, "git://github.com/extend/cowboy.git",       "master"}},
  {bullet,    ".*",  {git, "git://github.com/extend/bullet.git",       "master"}},
  {mimetypes, ".*",  {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
  {folsom,    ".*",  {git, "git://github.com/boundary/folsom.git",     "master"}},
  {lager,     "1.*", {git, "git://github.com/basho/lager",             {tag, "1.2.2"}}},
  {folsom_cowboy, ".*", {git, "git://github.com/arsemyonov/folsom_cowboy.git", "feature/cors"}},
  {jiffy,     ".*", {git, "git://github.com/davisp/jiffy.git", "master"}},
  {jsonx,     ".*", {git, "git://github.com/iskra/jsonx.git", "master"}}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.
